*{ margin: 0; padding: 0; box-sizing: border-box;}

.header{
  color:#fa9191;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  text-shadow: 0 40 #fa9191;
  margin: 50 0 20 0;

}

.date{
  background-color: aliceblue;
  height: 50;
  width: 100;
  margin: 10px;
}
.img_div{
  display: flex;
  justify-content: center;
}

.img_div img {
  width: 200px;
  height: 150px;
  /* margin: auto;   */

}